.about {
    position: relative;
    background-color: rgba(247, 247, 247, 0.918);
    width: 1112px;
    height: 00px;
}

.tech {
    background-color: rgba(250, 249, 249, 0.0);
    width: 1112px;
    height: 350px;
}