.relativeCoin {
    position: relative;
    background-color: rgb(134, 133, 133,0 );
    width: 000px;
    height: 1000px;
}


.relativeCoin2 {
    top : 0px;
    left : 1px;
    position: relative;
    background-color: rgb(112, 111, 111,0);
    width: 280px;
    height: 400px;
}


.relativeCoin3 {
    position: relative;
    top : -400px;
    left : 330px;
    background-color: rgba(170, 241, 224, 0.761);
    width: 781px;
    height: 140px;
}


.relativeCoin4 {
    position: relative;
    top : -185px;
    left : 330px;
    background-color: rgb(255, 255, 255,0.85);
    width: 781px;
    height: -20px;
}